* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    padding: 20px;
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;
    line-height: 40px;
}

.logo {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.left-nav {
    float: left;
    width: 50%;
}

.right-nav {
    float: left;
    width: 50%;
    text-align: right;
}

ul, li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000;
    margin: 0px 20px;
}

/*fine header*/


/*buttons*/
.btn {
    background-color: #0061ff;
    color: white;
    height: 32px;
    padding: 0px 15px;
    border: none;
}

/*inizio main*/
.hero{
    background-color: #b4d0e7;
    padding-top: 70px;
}

.hero-container {
    position: relative;
    bottom: -80px;
}

h1 {
    /* text-align: center; */
    font-size: 48px; 
    margin-top: 70px;
}

.container {
    width: 80%;
    margin: auto;
}

.entity {
    font-size: 28px;
}

.col-text {
    float: left;
    width: 30%;
}

.col-img {
    float: left;
    width: 70%;
}

.col-text p {
    margin: 30px 0;
}

.col-img img {
    width: 100%;
    margin-top: 30px;
}

/*inizio section*/

.section-container {
    width: 70%;
    margin: auto;
    padding-top: 150px;
}

.section-container > h2 {
    font-size: 27px;
    padding-bottom: 40px;
}

.fatturazione {
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 30px;
}

.row-planes {
    width: 100%;
    min-height: 1200px;
}

.left-plane, .center-plane, .right-plane {
    float: left;
    width: calc(100% / 3 - 14px);
    border: 1px solid #d0d0d3;
    min-height: 1200px
}

.center-plane {
    margin: 0px 20px;
}

.tipe-plane {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
}

.tipe-plane-1 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
}


.description {
    width: 70%;
    margin: auto;
}

.option {
    color: #7c8995;

}

.description p, .description h3 {
    padding: 20px 0px;
}

.description h3 {
    font-size: 30px ;
}

.semi-border {
    border: 1px solid #d0d0d3;
    margin: 20px 0px;
    width: 30%;
}

ul li {
    text-decoration: none;
    padding: 10px 0;
}

.enterprise {
    margin-top: 50px;
    border: 1px solid #d0d0d3;
}

.content-enterprise {
    width: 100%;
    padding: 20px;
}
.content-left{
    float: left;
    width: 70%;
}

.content-right{
    float: left;
    width: 30%;
}

.btn-vendite {
    background-color: #0061ff;
    color: white;
    height: 32px;
    padding: 0px 15px;
    border: none;
    width: 305px;
    text-align: center;
}

.content-left p {
    padding-top: 20px;
}

/*Partner section*/

.container-partner {
    padding-top: 150px;
}

.partner-img {
    float: left;
    width: 50%;
}

.partner-img img {
    width: 100%;
}

.partner-text {
    float: left;
    width: 50%;
    padding-left: 20px;
    padding-top: 20px;
}

.partner-text h3 {
    font-size: 28px;
}

.btn-partner {
    background-color: white;
    color: black;
    height: 32px;
    padding: 0px 15px;
    border: 1px solid black;
}

.partner-text p {
    padding: 40px 0;
    line-height: 30px;
}

/*fine partner section*/

.business-left, .business-center, .business-right {
    float: left;
    width: calc(100% / 3 - 10px);
    background-color: red;
    border: 1px solid black;
    height: 350px;

}

.row-business {
    width: 100%;
}

.business-left {

}

.business-center {
    margin: 0px 10px;
}

.business-right {

}







