* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    padding: 20px;
}

.logo {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.left-nav {
    float: left;
    width: 50%;
}

.right-nav {
    float: left;
    width: 50%;
    text-align: right;
}

ul, li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000;
    margin: 0px 20px;
}

/*fine header*/


/*buttons*/
.btn {
    background-color: #0061ff;
    color: white;
    height: 32px;
    padding: 0px 15px;
    border: none;
}

/*inizio main*/
.hero{
    background-color: #b4d0e7;
}

h1 {
    /* text-align: center; */
    font-size: 48px;
    
}

.container {
    width: 80%;
    margin: auto;
}

.entity {
    font-size: 28px;
}

.col-text {
    float: left;
    width: 30%;
}

.col-img {
    float: left;
    width: 70%;
    background-image: url(../img/jumbo.png);
}

.col-text p {
    margin: 30px 0px
}


